/*
#084C8D tri-met blue
#00925F green
#181197 bright blue
#D9A600 yellow
#D98100 orange
font-family: 'Pacifico', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Inconsolata', monospace;
*/

html, body {
  /*margin: 0 auto;*/
}

header {
  margin: 0 auto;
  padding-left: 20px;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #e6edf3;
  /*background-color: #f6fcf1;*/
  /*position: fixed;*/
}

.logo {
  font-family: 'Pacifico', cursive;
  color: #084C8D;
  display: inline-block;
  vertical-align: middle;
}

img .logo {
  height: 72px;
  width: 72px;
}

.text {
  font-family: 'Quicksand', 'Helvetica', sans-serif;
}

.data {
  font-family: 'Inconsolata', 'Lucida', monospace;
}

.images {
  opacity: .5;
  /*width: 300px;*/
  height: 300px;
}

section img {
  filter: grayscale(50%);
}

img:hover {
  opacity: 1;
  filter: grayscale(0%);
  /*transition: box-shadow .5s;*/
}

.thumbnail {
  width: 50px;
}

#progress {
  width: 100%;
  background-color: #eef6f3;
  border-radius: 20px;
  box-shadow: inset 0 1px #7f7f7f;
}

#bar {
  width: 0%;
  height: 30px;
  background-color: rgb(88, 170, 137);
  text-align: center;
  color: #FFFFFF;
  padding-top: 10px;
  margin-top: 20px;
  border-radius: 20px;
  transition: width 1s;
}

th {
  background-color: #D98100;
  color: #FFFFFF;
  font-size: 18px;
}

tr:nth-last-of-type(even) {
  background-color: #e6edf3;
}

tr:nth-last-of-type(odd) {
  background-color: #fbf2e5;
}

td {
  padding-left: 10px;
  padding-right: 10px;
}

.centerAlign {
  text-align: center;;
}

footer {
  margin-top: 50px;
  font-size: 11px;
  text-align: center;
}
